<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
    <add name="RentalCarManagement.Properties.Settings.DBRentalCarConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DBRentalCar;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RentalCarManagement.Properties.Settings.DBRentalCarManagementConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DBRentalCarManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="DBRentalCarEntity" connectionString="metadata=res://*/DataBase.DBRentalCarEntity.csdl|res://*/DataBase.DBRentalCarEntity.ssdl|res://*/DataBase.DBRentalCarEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DBRentalCarManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>